/******************************************************************************************
*VARIABLES
******************************************************************************************/

:root {
  --color-almost-white: #e8eef4;
  
  --color-primary-a: #63dbc1;
  --color-primary-b: #4952a3;
  --color-primary-c: #ff5b5e;

  --color-secondary-a: #53c1a9;
  --color-secondary-b: #28313b;
  --color-secondary-c: #97a4b1;
  --color-secondary-d: #319bf5;
  --color-secondary-e: #34495e;
}


header {
  background-color: #4952a3;
}

footer {
  background-color: #4952a3;
}


/******************************************************************************************
*HEADINGS AND TYPE
******************************************************************************************/


/******************************************************************************************
*LAYOUTS
******************************************************************************************/


/******************************************************************************************
*HEADER
******************************************************************************************/


/******************************************************************************************
*NAVIGATION
******************************************************************************************/


/******************************************************************************************
*FOOTER
******************************************************************************************/


/******************************************************************************************
*FORMS
******************************************************************************************/


/******************************************************************************************
*individual 
******************************************************************************************/